ion-content {

  
}

h2{
  color: #000000;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
}

p{
text-align: justify;
 color:#000000;
   font-family: Arial, Helvetica, sans-serif;
}

ion-item {
   color:#000000;

}

ion-chip {

   color:#000000;

}


   

h2{
  c color:#000000;
}