ion-content {
background:linear-gradient(to bottom, #00ecd5, #d87700, #e78fbb);
}

h2{
  color: #000000;
  text-align:center;
  font-family: Playlist Script;
}

p{
text-align: justify;

}

ion-item {
  color:#000000;
  background-color: #ffffff00;
}

button {
 background:linear-gradient(to right, #038d03, #ffffff);
 color:#012b0a;
}